.home-container{
position: relative;
height: 87vh;
width: 100vw;
overflow: hidden;
padding-top: 80px;
display: flex;
flex-direction: row;
}
.profile-name{
    position: absolute;
    top: 250px;
    left: 250px;
}
.canvas-container{
    width: 100vw;
    height: 100vh;
}
.canvas-globe{
    height: 80vh !important;
    left: 800px;
}