.nav-container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
    top: 0px;
    z-index: 200;
}

.nav-container img{
    width: 150px;
}
.nav-link-container {
    display: flex;
}
a{
    color: white;
}